.check_box input {
  display: none;
}
.check_box:last-child {
  margin-right: 0;
}
.check_box .icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid #bec8d0;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
.check_box .icon::before,
.check_box .icon::after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 0;
  background-color: #5c79f1;
  position: absolute;
  transform-origin: left top;
  border-radius: 3px;
}
.check_box .icon::before {
  top: 49%;
  left: 4px;
  transform: rotate(-45deg);
}
.check_box .icon::after {
  top: 74%;
  left: 8.5px;
  transform: rotate(-135deg);
}
.check_box input:checked + .icon {
  background-image: url(img/ico_box.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}
.check_box input:checked + .icon::before {
  height: 6px;
  transition: all 0.2s ease;
}
.check_box input:checked + .icon::after {
  height: 16px;
  transition: all 0.3s ease 0.2s;
}

.main {
  width: 100%;
  height: 800px;
  background-color: #f8f8fa;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
}
.main section {
  width: 578px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main h1 {
  display: none;
}
.main h2 {
  font-size: 24px;
  font-weight: 900;
  display: inline-block;
  margin: 0;
  line-height: 26px;
  color: #364785;
}
.main span {
  font-size: 9px;
  font-weight: 400;
}

.leftArea {
  height: 100%;
  width: 200px;
  background-image: url(/img/ico_error.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.rightArea {
  height: 100%;
  padding-top: 14px;
}

.logo {
  /* height: 40px; */
  display: flex;
  flex-direction: row;
}

.logo .left {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url(./img/ico_eap_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.logo .right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.logo .right span {
  line-height: 12.26px;
}
.rightArea .text {
  margin-top: 26px;
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  margin: 0;
}
/* p:last-child {
  margin-top: 8px;
} */

.two {
  position: relative;
}
.two section {
  flex-direction: column;
  width: 550px;
  justify-content: center;
}
.two .logo {
  margin: 0 0 11px 0;
}

.progressBar {
  width: 550px;
  height: 20px;
  background-color: #eceef4;
}
.progressBar .gauge {
  height: 100%;
  width: 0%;
  background-color: #5c79f1;
  transition: all 2s;
}

.p {
  margin-top: 5px;
  text-align: right;
  display: inline-block;
  position: relative;
}

.p::after {
  content: '';
  position: absolute;
  top: 4%;
  right: -1px;
  height: 100%;
  width: 1px;
  background-color: #4c566e;
}
.p.active::after {
  display: none;
}

.main .btn {
  position: absolute;
  top: 80%;
}

.btn button {
  width: 50px;
  height: 30px;
  background-color: #5c79f1;
  border-radius: 5px;
  border: none;
}
